@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    text-align: center;
    background-color: #F4E9CD;
    color: #031926;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

button {
    text-decoration: none;
    background-color: #77ACA2;
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: #77ACA2 0.5s ease;
}

button :hover{
    transition: 0.7s;
    opacity: 1;
}

h1{
    text-emphasis: none;
    color: #468189;
    text-transform: none;
}

.active {
	Border: 1px solid green;
}

.inactive {
	Border: 1px solid red;
}

.project-list img {
    width:  200px;
    height: 200px;
    object-fit: contain;
}