
<h1>Project list</h1>
<div class="project-list"
 *ngFor="let project of projects;
  let i = index" 
  [ngClass]="[project.active ? 'isActive' : 'notActive']">
    {{ project.name }} <br>
    <img src="{{ project.picture }}" [routerLink]="['project',i]"> <br>
    <button (click)='onAdditional(project)'>Enter additional info</button>
    <div *ngIf='project.commentButtonActive'>
        <input type='text'> 
    </div>
    <button (click)='onActive(project)'>
        <div *ngIf='project.active'>
            Change to inactive
        </div>
        <div *ngIf='!project.active'>
            Change to active
        </div>
    </button>
    <div class="edit" [routerLink]="['edit', i]">
        Edit
    </div>
                
</div>
